.Header{
    width: 100%;
    max-width: 450px;
    padding: 15px 0px;
    height: 261px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 8px;
    margin: 0px 0px 9px;
}
.containerBtn{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 0px 15px;
}
.BtnNitendo,.BtnXbox,.BtnPlaystation{
    width: 95px;
    height: auto;
    padding: 20px 0px;
    font-weight: 700;
    font-size: 14px;
    color: #ffff;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    transition: 700ms;
}
.BtnNitendo{background-color: rgb(223, 18, 18);}
.BtnNitendo:hover{
    background: linear-gradient(80deg, red, white);
    transition: 2s;
    color: rgb(11 11 12);
    
}
.BtnXbox{background-color: rgb(4 191 16);}
.BtnXbox:hover{
    background: linear-gradient(80deg, rgb(51, 247, 12), white);
    transition: 2s;
    color: rgb(16, 17, 15);
}
.BtnPlaystation{background-color: hsl(241, 88%, 44%);}
.BtnPlaystation:hover{
    background: linear-gradient(80deg, hsl(214, 96%, 51%), white);
    transition: 2s;
    color: rgb(16, 17, 15);
}
.containerPesquisar{
    display: flex;
    width: 85%;
    border-radius: 45px;
    background-color: #ffff;
}
.ImagemLupa{
    width: 50px;
    height: 100%;
    padding: 5px 0px 5px 15px;
}
.containerPesquisar input{
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 35px;
    font-size: medium;
    letter-spacing: 1px;
}
.LimparPesquisa{
    margin: 15px 0px 0px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}