.Header{
    width: 100%;
    max-width: 450px;
    padding: 15px 0px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 8px;
    margin: 0px 0px 9px;
}
.containerBtn{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 0px 15px;
}
.BtnNitendo,.BtnXbox,.BtnPlaystation{
    width: 95px;
    height: auto;
    padding: 10px 0px;
    font-weight: 700;
    color: #ffff;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
}
.BtnNitendo{background-color: rgb(223, 18, 18);}
.BtnXbox{background-color: rgb(4 191 16);}
.BtnPlaystation{background-color: rgb(15, 12, 202);}
.containerPesquisar{
    display: flex;
    width: 85%;
    border-radius: 45px;
    background-color: #ffff;
}
.ImagemLupa{
    width: 50px;
    height: 100%;
    padding: 5px 0px 5px 15px;
}
.containerPesquisar input{
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 35px;
    font-size: medium;
    letter-spacing: 1px;
}
.LimparPesquisa{
    margin: 15px 0px 0px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}